# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
logs/
*.log

# Models
models/*.pkl
models/*.h5
models/*.pt

# VSCode
.vscode/
